body {
    background-color: black;
}
h1{
    color: grey;
    font-family: verdana;
    text-align: center;
}

.maindiv {
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

/* extra label styling not instructed in assignment */

span {
    float: inline-end;
}


label {
    clear:left;
    text-align:right;  
    margin-right:46px;
}

mark {
    background-color:#c0ffc8;
}

#output {
    position: static;
    text-align: left;
}
